
form {
    margin: 20px;
    padding: 10px;
    align-content: start;
    color: darkblue;
}


#plainmovie {
    color: grey;
}

table {
    border-collapse: collapse;
    border: double black;
}

tr:hover {
    background-color: lightgrey;
}

th, td {
    padding: 0 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

input[type=submit] {
    padding: 5px;
}

.buttons {
    color: darkblue;
    display:flex;
    flex-direction: row;
    padding: 5px;
}

.App-column {
    color: darkblue;
    padding: 5px;
}
.App-row {
    color: darkblue;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.App-header {
    background-color: #f6f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-size: 1.2em;
}

.App-link {
    color: #0026ff;
}

#title {
    margin: 30px;
    margin-top: 70px;
    font-size: 1.6em;
    color: darkblue;
}

button {
    color: darkorange;
    font-weight: 900;
    background-color: lightsteelblue;
    margin: 5px;
}
